/* * {
    border: red solid;
} */

body {
    background-color: #676666;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #91a7ba;
}

.main-container {
    display: flex;
    height: 925px;
    flex-direction: column;
    align-items: center;
    background-color: #000;
    background-image: url('./Pics/concert-image.jpg');
    border-radius: 4px;
}

.pad-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 660px;
    height: 450px;
    border: 1px black solid;
    border-radius: 10px;
    background-color: #2b2a2a;
    padding: 50px 0;
    box-shadow: inset .5px .5px 25px white;
}


.main-pads-div {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 30px;
    width: 300px;

}

#spacebar {
    width: 300px;
}

.pad {
    color: #91a7ba;
    width: 100px;
    text-align: center;
    padding: 40px 0;
    transition: all .07s;
    border: solid black 3px;
    box-shadow: inset .5px .5px 5px white;
    border-radius: 10px;
}


.playing {
    transform: scale(1.1);
    border-color: yellow;
    box-shadow: 0 0 10px yellow;
}